@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixin.scss";


.requestPage {
  @include pageCustom($color-request);

  .backgroundDiv {
    position: relative;
    padding: 1rem 2rem 2rem;
    //border-radius: 0 4rem 0 0;
    border-radius: 2rem 2rem 0 0;
  
    margin-top: 5rem;
    background-color: $color-background-div;
  }

}