
$color-background: #2c3e50;
$color-background-app: #222222;
$color-background-div: #7A7A7A;

$color-tabs:  rgba(255, 255, 255, .8);

$color-white: #e9e8e8;
$color-black: #222222;
$color-description: #3a3a3a;

$color-select-input: #0043c0;
$color-error-input: #8b0f0f;


$color-save-button: rgb(13, 240, 100);
$color-save-button-bc: rgb(13, 240, 100, .1); 

$color-search-button: rgb(255, 230, 0);
$color-search-button-bc:  rgb(0, 199, 106);

$color-clean-button: rgb(107, 44, 253);
$color-clean-button-bc: rgb(255, 230, 0, .7);

$color-delete-button: $color-white;
$color-delete-button-bc: rgb(182, 35, 35); 



