
$color-background: #2c3e50;
$color-background-app: dimgray;

$color-tabs:  rgba(15, 15, 15, .5);

$color-fonts-white: #fff;

/*$color-button: #D7D6D7;
$color-button-operators: #cf7718;

$color-display: #335491;

$color-fonts: rgba(25, 25, 25, 0.9);
$color-fonts-white: #fff;
$color-fonts-display: rgb(190, 190, 190);

$color-background: #2c3e50;*/
