
%button {
  color: $color-white;
  border: none;
  padding: 0;
}

@mixin custonScrollBar($color1, $color2) {
  scrollbar-width: thin;
  scrollbar-color:$color1 $color2;

  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: $color1;
    border-radius: .4rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color2;
    border-radius: .4rem;
  }
}

@mixin color-button($type:simple) {

  @if($type == simple){
    @extend %button;
    background-color: $color-clean-button;

  }
  @else if ($type == save){
    @extend %button;
    background-color: $color-save-button;
  
  }
  @else if ($type == change){
    @extend %button;
    background-color: $color-change-button;

  }
  @else if ($type == delete){
    @extend %button;
    background-color: $color-delete-button;

  }
  @else if ($type == edit){
    @extend %button;
    background-color: $color-edit-button;
  }


  &:hover{
    border: 3px solid transparentize($color-white, .1);
  }
  
  
}

@mixin pageCustom($color) {
  position: relative;
  max-width: 40rem;
  width: 100vw;
  overflow: hidden;
  background-color: $color;
}

@mixin tableCustom($color, $p1:50%, $p2:40%) {
  background-color: $color-white;

  & > thead { background-color: $color; color: $color-white; }

  tr {
    &:nth-child(odd) { background-color: $color-table-row-odd; }
    
    &:hover {
      cursor: pointer;
      background-color: lighten($color, $p1);
  
      &:hover:nth-child(odd) { background-color:  lighten($color, $p2); }
    }
  }
}