
@mixin custonScrollBar($color1, $color2) {
  scrollbar-width: thin;
  scrollbar-color:$color1 $color2;

  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: $color1;
    border-radius: .4rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color2;
    border-radius: .4rem;
  }
}

@mixin color-button($type:simple) {
  @if($type == simple){
    color: $color-white;
    background-color: darken($color-background-div, 25%);

  }
  @else if ($type == save){
    color: $color-white;
    background-color: $color-save-button-bc;
    border: none;
  
  }
  @else if ($type == change){
    color: $color-white;
    background-color: $color-change-button-bc;
    border: none;
  
  }
  @else if ($type == delete){
    color: $color-white;
    background-color: $color-delete-button-bc;
    border: none;

  }
  &:hover{
    border: 3px solid transparentize($color-white, .1);
  }
  
  
}