@import "@/assets/scss/_colors.scss";

@mixin color-button($background, $color) {
  background-color: $background;
  color: $color;
  border: .2rem solid $color;
}

.flatButton {
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  cursor: pointer;

  @include color-button($color-background-div, $color-white);
  border-radius: .5rem;

  &.-delete:focus, &.-delete:hover {
    @include color-button($color-delete-button-bc, $color-delete-button)
  }

  &.-save:focus, &.-save:hover{
    @include color-button($color-save-button-bc, $color-save-button);
  }
  
  &.-change:focus, &.-change:hover{
    @include color-button($color-search-button-bc, $color-search-button);
  }
  
  &.-clean:focus, &.-clean:hover{
    @include color-button($color-clean-button-bc, $color-clean-button);
  }
  
  
}


