@import "@/assets/scss/_colors.scss";

.flatButton {
  width: 15rem;
  height: 4.5rem;
  margin: .5rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;

  background-color: $color-background-div;
  color: $color-white;
  border: .2rem solid $color-white;
  border-radius: .5rem;
}

.flatButton.-save:focus, .flatButton.-save:hover{
  background-color: $color-save-button-bc;
  color: $color-save-button;
  border: .2rem solid $color-save-button;
}

.flatButton.-search:focus, .flatButton.-search:hover{
  background-color: $color-search-button-bc;
  color: $color-search-button;
  border: .2rem solid $color-search-button;
}

.flatButton.-clean:focus, .flatButton.-clean:hover{
  background-color: $color-clean-button-bc;
  color: $color-clean-button;
  border: .2rem solid $color-clean-button;
}
