@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixin.scss";



.flatButton {
  border-style: none;
  cursor: pointer;
  font-size: $font-button;
  border-radius: .3rem;

   @include color-button(simple);

  &.-delete{ @include color-button(delete); }
  &.-save { @include color-button(save); }
  &.-change { @include color-button(change); }

  &:focus{ outline: .3rem solid transparentize($color-white, .1); }

}


