@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";


.divInput {
  position: relative;
  margin: .3rem;
  //width: 100%;
}

.divInput.-id, .divInput.-nome {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
}
.divInput.-rua {
  grid-area: rua;
}
.divInput.-num {
  grid-area: num;
}
.divInput.-bairro {
  grid-area: bairro;
}
.divInput.-cidade {
  grid-area: cidade;
}
.divInput.-valor {
  grid-area: valor;
}

.divInput > input {

  font-size: $font-standard;
  text-align: right;

  width: 100%;
  height: 4rem;
  padding: 1rem 1rem 0rem 1rem;

  background-color: $color-white;
  border: none;
  border-radius: 0.4rem;

  box-sizing: border-box;
  outline: none;
}

.divInput > input:focus {
  border-bottom: 0.3rem solid $color-select-input;

}

.divInput > input:focus ~ label {
  font-size: $font-small;
  text-align: left;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $color-select-input;

  padding-left: 1rem;
  
  box-sizing: border-box;
}

.divInput > label {
  font-size: $font-standard;
  color: $color-description;

  position: absolute;
  left: 1rem;
  top: 1rem;
  pointer-events: none; /*é como se o elemento estivesse por baixo assim da pra clicar no input mesmo por cima dele*/
  
}

.divInput > label.-small {
  font-size: $font-small;
  text-align: left;

  left: 0;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  color: $color-select-input;

  padding-left: 1rem;
  
  box-sizing: border-box;
}


