@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_placeholders.scss";


.divInput {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &.-search > input { padding-right: 35px; }

  & > input {
    text-align: right;
    @extend %inputLayout;
  }

  & > label {
    font-size: $font-standard;
    color: $color-description;
  
    position: absolute;
    left: 1rem;
    top: 1rem;
    pointer-events: none; /*é como se o elemento estivesse por baixo assim da pra clicar no input mesmo por cima dele*/

    &.-small {
      font-size: $font-small;
    
      left: 1rem;
      top: 0.2rem;
      //color: $color-select-input;
    }
    
  }
  
}

.clientPage {
  input:focus { border-bottom: 0.4rem solid $color-client; }
  label.-small { color: $color-client; }
}
.productPage {
  input:focus { border-bottom: 0.4rem solid $color-product; }
  label.-small { color: $color-product; }
}



