
.input {

  font-size: 1.6rem;
  width: 100%;
  height: 3.5rem;
  /*margin: 0.3rem;*/
  padding: 1rem;

  box-sizing: border-box;
}

.divInput {
  margin: 0.3rem;
}

.divInput.-id, .divInput.-nome {
  /*width: 90%;*/
  margin-left: 0;
  margin-right: 0;
}

.-rua {
  grid-area: rua;
}
.-num {
  grid-area: num;
}
.-bairro {
  grid-area: bairro;
}
.-cidade {
  grid-area: cidade;
}
.-valor {
  grid-area: valor;
}