
@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixin.scss";

.clientPage {
  position: relative;
  max-width: 40rem;
  width: 100vw;
  //height: 90vh;
  //border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  //margin: 2rem 0;
  
  .backgroundDiv {
    position: relative;
    padding: 1rem 2rem 2rem;
    //border-radius: 0 4rem 0 0;
    border-radius: 2rem 2rem 0 0;
  
    margin-top: 5rem;
    background-color: $color-background-div;
  
    .id {
      margin: 0 0 .4rem 1rem;
      text-align: left;
      font-size: 1.6rem;
    }
  
    .divInput.-nome { 
      margin-bottom: .8rem;
  
      & > input {
        padding-right: 35px;
      }
    }
  
    fieldset { 
      position: relative;
      padding: .8rem .8rem 1.6rem .8rem;
      margin: .8rem 0 1.6rem 0;
    }
  
    fieldset > legend {
      font-size: 1.6rem;
      padding: 0 0.8rem;
    }
  
    .endereco {
      display: grid;
      grid-template-columns: 50% 10% 10% 30%;
      grid-template-areas: 
        "rua rua rua num"
        "bairro bairro cidade cidade"
        "valor valor delete delete"
      ;
      row-gap: .8rem;
  
      .divInput {
        padding: 0 .4rem;
  
        &.-rua{ grid-area: rua; }
        &.-num { grid-area: num; }
        &.-bairro { grid-area: bairro; }
        &.-cidade { grid-area: cidade; }
        &.-valor { grid-area: valor; }
      }
      .flatButton.-delete { 
        grid-area: delete; 
        margin: 0 .4rem;
        font-size: 1.4rem;
      }
  
      
    }
  
    .divButtons {
      width: 100%;
      display: grid;
      grid-auto-rows: 5rem;
      gap: 8px;
      margin-bottom: 1.6rem;
    }
  
  }

  .selectList.-client {
    color: white;
    @include custonScrollBar(darken($color-client, 20%), $color-client);
  
    .optionList {
      background-color: lighten($color-client, 10%);
      &:hover { background-color: $color-client; }
    }
  }

  .tbl.-cliente {
    @include custonScrollBar(darken($color-client, 20%),$color-client);
  
    & > table{
      background-color: $color-white;
  
      & > thead { background-color: $color-client; color: $color-white; }
  
      tr {
  
        & > .tblId { min-width: 5rem; display: none; }
        & > .tblNome { min-width: 18rem; max-width: 18rem;}
        & > .tblCel { min-width: 15rem; }
        & > .tblEndereco{ min-width: 20rem; max-width: 20rem;}
        & > .tblValor { min-width: 13rem; }
    
        &:nth-child(odd) { background-color: $color-table-row-odd; }
      
        &:hover {
          cursor: pointer;
          background-color: lighten($color-client, 50%);
      
          &:hover:nth-child(odd) { background-color:  lighten($color-client, 50%); }
        }
      }
      
    }
  
    
  }

  .messagerError {
    margin-bottom: 1.6rem;
  }
}















