
@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixin.scss";
@import "@/assets/scss/_placeholders.scss";

.clientPage {
  @include pageCustom($color-client);

  .backgroundDiv {
    @extend %backgroundDiv;
  
    .id {
      margin: 0 0 .4rem 1rem;
      text-align: left;
      font-size: 1.6rem;
    }
  
    .divInput.-nome { 
      margin-bottom: .8rem;
  
      & > input {
        padding-right: 35px;
      }
    }
  
    fieldset { @extend %fieldset; }
  
    .endereco {
      display: grid;
      grid-template-columns: 50% 10% 10% 30%;
      grid-template-areas: 
        "rua rua rua num"
        "bairro bairro cidade cidade"
        "valor valor delete delete"
      ;
      row-gap: .8rem;
  
      .divInput {
        padding: 0 .4rem;
  
        &.-rua{ grid-area: rua; }
        &.-num { grid-area: num; }
        &.-bairro { grid-area: bairro; }
        &.-cidade { grid-area: cidade; }
        &.-valor { grid-area: valor; }
      }
      .flatButton.-delete { 
        grid-area: delete; 
        margin: 0 .4rem;
        font-size: 1.4rem;
      }
  
      
    }
  
    .divButtons { @extend %divButtons }
  
  }

  

  .selectList.-client {
    color: $color-white;
    @include custonScrollBar(darken($color-client, 20%), $color-client);
  
    .optionList {
      background-color: lighten($color-client, 10%);
      &:hover { background-color: $color-client; }
    }
  }

  .tbl.-client {
    @include custonScrollBar(darken($color-client, 20%), $color-client);
  
    & > table {
      @include tableCustom($color-client, 50%, 50%);

      .column.-id { min-width: 5rem; display: none; }
      .column.-nome { min-width: 19rem; max-width: 19rem;}
      .column.-celular { min-width: 15rem; }
      .column.-endereco{ min-width: 21rem; max-width: 20rem;}
      .column.-valorEntrega { min-width: 14rem; }
      
    } 
    
  }

  .message {
    margin-bottom: 1.6rem;
  }
}















