@import "@/assets/scss/_colors.scss";

.divIcon {
  //background-color: violet;
  width: 3.5rem;
  height: 4rem;
  position: absolute;
  right: 0;
  display: flex;
  cursor: pointer;

  .icon {
    margin: auto;
    
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
    border-radius: 1.5rem;
  
    &:hover{
      //background-color: rgb(218, 218, 218);
      background-color: transparentize(grey, .7);
    }
    
  }

}

