
@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";


.backgroundDiv {
  position: relative;
  max-width: 40rem;
  width: 95%;
  padding: 3rem;
  margin-top: 2rem;
  box-sizing: border-box;


}

.customerRegistration {
  background-color: $color-background-div;
}

.id {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

.optionnn{
  background-color: brown;
}

.endereco {
  // border: $color-white 1px solid;
  //padding: .5rem;
  //margin-top: 2rem;
  // margin-bottom: .5rem;

  //position: relative;
  /*box-sizing: border-box;*/
  display: grid;
  grid-template-columns: 50% 10% 10% 30%;
  grid-template-areas: 
    "rua rua rua num"
    "bairro bairro cidade cidade"
    "valor valor . ."
  ;

}

.backgroundDiv > fieldset {
  position: relative;
  margin: 2rem 0;
}

.backgroundDiv > fieldset > legend {
  font-size: 1.6rem;
  padding: 0 0.8rem;
}

