
@import "@/assets/scss/_colors.scss";

// ------ GLOBAL ------

:root {
  font-size: 62.5%; //10px
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {

  background-color: $color-background;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

#app {
  text-align: center;

  background-color: $color-background-app;
  width: 100vw;
  min-height: 100vh;

}




.menu {
  display: grid;
  grid-template-columns: 1fr 5rem;

  width: 100%;
  height: 4rem;
  
}

.desktop {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  //flex-wrap: wrap;
  align-items: center;
}

.tabs {
  display: flex;
}

.tab {
  width: 100%;
  height: 4rem;
  background-color: $color-tabs;

  display: flex;
  align-items: center;
  justify-content: center;

  border: $color-background-app solid 1px;

  font-size: 1.5rem;

}

.option {
  width: 100%;
  height: 4rem;
  background-color: rgba(15, 15, 15, .8);
  color: $color-fonts-white;

  /*grid-column: 3;*/
  justify-self: end;

  display: flex;
  align-items: center;
  justify-content: center;

  border: $color-background-app solid 1px;

}

