
@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixin.scss";
@import "@/assets/scss/_placeholders.scss";



.productPage {
  @include pageCustom($color-product);

  .backgroundDiv {
    @extend %backgroundDiv;

    .containerInputProduct {
      display: grid;
      //grid-template-columns: 45% 55%;
      grid-template-areas: 
      "produto produto"
      "peso tipo"
      "valor deletar"
      ;
      row-gap: .8rem;
      column-gap: .8rem;
    }

    .id {
      margin: 0 0 .4rem 1rem;
      text-align: left;
      font-size: 1.6rem;
    }

    .divInput {
      //margin-bottom: .8rem;
      //padding: 0 .4rem;

      &.-prod { 
        grid-area: produto;
        & > input { padding-right: 35px }
      }
      &.-peso { grid-area: peso; }
      &.-tipo { grid-area: tipo; 
        & > input { padding-right: 35px }
      }
      &.-valor { grid-area: valor; }
    }

    fieldset {
      @extend %fieldset;

      & > .ingredients {
        @extend %inputLayout;
        @include custonScrollBar(darken($color-product, 20%), $color-product);

        resize: none; // impede o redimencionamento
        font-family: inherit;
        height: 11rem; //4 linhas


        &:focus { border: 0.3rem solid $color-product; }
      }
    }
  
    .divButtons { @extend %divButtons }
 
  }


  
  .flatButton.-delete { 
    grid-area: deletar; 
    margin: 0 .4rem;
    font-size: 1.4rem;
   //height: 4rem;
  }

  .selectList.-productType,
  .selectList.-productName {
    color: $color-white;
    @include custonScrollBar(darken($color-product, 20%), $color-product);

    .optionList {
      background-color: lighten($color-product, 10%);
      &:hover { background-color: $color-product; }
    }
  }

  .tbl.-productTable {
    @include custonScrollBar(darken($color-product, 20%), $color-product);

    
    & > table {
      @include tableCustom($color-product);

      .column.-id { display: none; }
      .column.-produto { min-width: 16rem; max-width: 25rem; }
      .column.-peso { display: none; min-width: 8rem; max-width: 12rem; }
      .column.-tipo { min-width: 10rem; max-width: 15rem; }
      .column.-valor { min-width: 10rem; max-width: 15rem; }
      .column.-ingredientes { min-width: 36rem; max-width: 36rem;  }
 
    }
  }

  .message {
    margin-bottom: 1.6rem;
  }

}

